<%- include("header") -%> 
<!--banner-->
<section class="banner banner-curriculum">
    <div class="container-fluid">
      <p>Lower Gwelo High School offers both academic & spiritual education.</p>
        <div aria-label="breadcrumb " class="breadcrumbs">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item at" aria-current="page">Curriculum</li>
            </ol>
        </div>
        <div class="overlay"></div>
    </div>
</section>


<!--content-->
<main>
  
    <input id="tab1" type="radio" name="tabs" checked class="hidden">
    <label for="tab1">Academics</label>
      
    <input id="tab2" type="radio" name="tabs" class="hidden">
    <label for="tab2" class="spiritual-label"> Spiritual</label>

    <input id="tab3" type="radio" name="tabs" class="hidden">
    <label for="tab3">Clubs & Sports</label>
      
    <section id="content1" class="tab-content">
      <p class="tab-p">
       The following courses are offered at ZJC level; Maths, Economics, Commerce, Accounts, Combined Science, Geography, Heritage Studies, History, Textile tech and design, Wood tech and design, Food tech and design, Music, Physical Education, BES. 
      </p>
      <p class="tab-p">
        The following courses are offered at O'Level; Literature in English, English language, Family and religious studies, Biology, Physics, Chemistry, Statistics,
        Maths, Economics, Commerce, Accounts, Combined Science, Geography, Heritage Studies, History, Textile tech and design, Wood tech and design, Food tech and design, Music, Physical Education, BES. 
       </p>
       <p class="tab-p">
        The following courses are offered at A'Level; F.R.S, Biology, Chem, Physics, B.E.S, Textile tech and design, History, Ndebele, Shona, Maths, Statistics, Accounting, Economics, Sociology and Literature in English.
       </p>
    </section>
      
    <section id="content2" class="tab-content">
      <p class="tab-p">
        We have a resident Chaplin from the Seventh Day Adventist Church. 
        Students do Progressive classes once every week. Students are inducted 
        into various church clubs based on their age (Pathfinders, Youths, Senior 
        Youths, Ambassadors & Master Guides). Additionally, church services are 
        done three-time weekly. Wednesday & Friday evening prayer meetings from 
        18:00hrs to 18:30hrs Saturday is Sabbath Church Day & church attendance 
        is from 09:00hrs to 12:00 noon & 14:00hrs to 15:30hrs.
      </p>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="group-container">
              <div class="circle-img">
                <img src="images/pathfinder.png" alt="pathfinder">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="group-container">
              <div class="circle-img">
                <img src="images/ambassadors.png" alt="pathfinder">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="group-container">
              <div class="circle-img">
                <img src="images/master-guide.png" alt="pathfinder">
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>

    <section id="content3" class="tab-content">
      <p class="tab-p">
        The school has the following sporting clubs; Soccer, Basketball, Handball, Netball, Volleyball, Chess and Athletics.
      </p>
      <p class="tab-p">The school also has the following student run clubs.</p>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <% //clubs.forEach(element => { %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed bg-muted" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Young Farmer's club.
              <%= //element.name; %> 
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p style="color: black;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus porro recusandae hic illo maiores enim earum maxime. Amet modi odio quaerat quo voluptates corrupti deleniti sint? Officiis, ratione voluptatum!
                    <%= //element.description; %>
                </p>
                <p style="color: black;">
                    Subscription: $10<%= //element.subscription; %>
                </p>
            </div>
          </div>
        </div>
        <% //}) %>
      </div>
    </section>
  </main>

<%- include("footer") -%> 